/* Write your CSS code here */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-image {
  height: 200px;
  width: 200px;
  margin: 30px;
}
.home-header {
  font-size: 25px;
  font-family: Roboto;
}
