/* Write your CSS code here */
/* Write your CSS code here */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-image {
  height: 200px;
  width: 200px;
  margin: 30px;
}
.contact-header {
  font-size: 25px;
  font-family: Roboto;
}
